name: Ruff Linting and Formatting
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "ruff==0.12.12"
      # Update output format to enable automatic inline annotations.
      - name: Check Ruff Linting violations
        run: ruff check --config pyproject.toml --output-format=github .
      - name: Check Ruff Formatting violations
        run: ruff format --diff .
