name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  script_tests:
    name: Integration Tests (${{ matrix.test-group.env }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        test-group:
          - env: "cartpole"
            script: "sac,sac_zop,sac_fop,controller"
          - env: "chain"
            script: "sac,sac_zop,sac_fop,controller"
          - env: "pointmass"
            script: "sac,sac_zop,sac_fop,controller"
          - env: "hvac"
            script: "sac,sac_zop,sac_fop,controller"

    steps:

    - name: Checkout leap-c
      uses: actions/checkout@v4
      with:
        path: ${{github.workspace}}/leap_c
        submodules: 'recursive'

    - name: Setup leap-c environment
      uses: ./leap_c/.github/actions/setup-leap-c
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run leap_c tests
      working-directory: ${{github.workspace}}/leap_c
      env:
        TEST_ENV: ${{ matrix.test-group.env }}
        TEST_SCRIPT: ${{ matrix.test-group.script }}
      run: |
        pytest tests/leap_c/test_scripts.py -v -s --cov=leap_c --cov-report=xml:coverage-${{ matrix.test-group.env }}.xml --cov-report=term

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: integration-tests
        name: ${{ matrix.test-group.env }}-${{ matrix.test-group.script }}

  unit_tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11","3.12","3.13"]

    steps:

    - name: Checkout leap-c
      uses: actions/checkout@v4
      with:
        path: ${{github.workspace}}/leap_c
        submodules: 'recursive'

    - name: Setup leap-c environment
      uses: ./leap_c/.github/actions/setup-leap-c
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run unit tests
      working-directory: ${{github.workspace}}/leap_c
      run: |
        pytest tests/leap_c/ -v --ignore=tests/leap_c/test_scripts.py --cov=leap_c --cov-report=xml:coverage-unit.xml --cov-report=term

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        name: unit-tests-${{ matrix.python-version }}
        flags: unit-tests
